<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/list.css' />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h2><%= title %></h2>
    <div class="left">
    <label for="">
      上传图片: <input type="file" id="uploadPic" multiple="multiple">
      <button id="submit">提交</button>
    </label>
    </div>
    


    <div class="selectDiv">
      <ul class="select">
          <li> <a href="./bannerUpload">图片上传</a></li>
          <li> <a href="./bannerDelete">图片删除</a></li>
          <li> <a href="./news">公告</a></li>
          <li> <a href="./users">管理权限</a></li>
          <li> <a href="./locker">工具柜管理</a></li>
          <li> <a href="./record">记录查询</a></li>
          <li> <a href="./fix">报修处理</a></li>
      </ul>

    </div>

    <script>
      var btn = document.querySelector('#uploadPic')
      var submit = document.querySelector('#submit')
      //console.log(btn)
      var param,config,fileList
      btn.onchange = function(e){
       fileList=e.target.files

       config = {
          headers:{
            'Content-Type':'multipart/form-data'
          }
        }
       
      }

      submit.addEventListener('click',function(){
        for(let i =0;i<fileList.length;i++){
          var file = fileList[i]
         param = new FormData()
        param.append('file',file)
        axios.post('/uploadPic',param,config).then((res)=>{
          alert('上传完成')
        })

        }

      })


    </script>
  </body>
</html>
